# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

services:
  vdms-dataprep:
    build:
      target: ${DEV_BUILD_TARGET:-final-dev}
      args:
        - COVERAGE_REQ
    image: egaidev/vdms-dataprep:latest-dev
    environment:
      - DEFAULT_BUCKET_NAME=video-summary
      - DB_COLLECTION=video-rag-dev
      - DETECTION_MODEL_DIR=${YOLOX_MODELS_MOUNT_PATH:-/app/models/yolox}
    volumes:
      - "..:/app"
      - "${YOLOX_MODELS_VOLUME_NAME:-vdms-yolox-models}:${YOLOX_MODELS_MOUNT_PATH:-/app/models/yolox}"