# Always defines the service 'vippet' with the same name, independent of hardware profile.
# Device setup is handled in override files.
x-vippet: &vippet
  image: docker.io/intel/vippet-app:${DOCKER_TAG}
  build:
    context: .
    target: ${TARGET:-prod}
    dockerfile: vippet/Dockerfile
    args:
      http_proxy:
      https_proxy:
      no_proxy:
  ports:
    - "7860:7860"
  healthcheck:
    test: ["CMD", "curl", "--fail", "--silent", "--show-error", "--output", "/dev/null", "http://localhost:7860/pipelines"]
    interval: 10s
    timeout: 5s
    retries: 3
    start_period: 5s
    start_interval: 1s
  restart: on-failure:5
  environment:
    GST_DEBUG: "1"
    LOG_LEVEL: INFO
    WEB_SERVER_LOG_LEVEL: WARNING
    MODELS_PATH: /models/output
    SUPPORTED_MODELS_FILE: /models/supported_models.yaml
    RECORDINGS_PATH: /videos/input
    http_proxy: ${http_proxy}
    https_proxy: ${https_proxy}
    no_proxy: ${no_proxy}
  volumes:
    - ./shared/collector-signals:/home/dlstreamer/vippet/.collector-signals
    - ./shared/models/:/models
    - ./shared/videos/:/videos

services:
  vippet-ui:
    image: docker.io/intel/vippet-ui:${DOCKER_TAG}
    build:
      context: .
      dockerfile: ui/Dockerfile
      args:
        http_proxy:
        https_proxy:
        no_proxy:
    container_name: ui
    ports:
      - "80:80"
    restart: on-failure:5
    depends_on:
      vippet:
        condition: service_healthy
    environment:
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      no_proxy: ${no_proxy}
  models:
    profiles: [do-not-start]
    image: docker.io/intel/vippet-models:${DOCKER_TAG}
    build:
      context: .
      dockerfile: models/Dockerfile
      args:
        http_proxy:
        https_proxy:
        no_proxy:
    stdin_open: true
    tty: true
    container_name: models
    volumes:
      - ./shared/models/:/models
    environment:
      - MODELS_PATH=/models/output
      - SUPPORTED_MODELS_FILE=/models/supported_models.yaml
      - MODEL_INSTALLATION=${MODEL_INSTALLATION:-once}
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}
      - no_proxy=${no_proxy}
    command: './model_manager.sh'
  vippet:  # Always 'vippet', hardware config from override files
    <<: *vippet
    container_name: vippet
  collector:
    image: docker.io/intel/vippet-collector:${DOCKER_TAG}
    build:
      context: ./collector
      dockerfile: Dockerfile
      args:
        http_proxy:
        https_proxy:
        no_proxy:
    container_name: collector
    ports:
      - "9273:9273"
    privileged: true
    devices:
      - "/sys:/sys"
      - "/dev:/dev"
      - "/run:/run"
      - "/proc:/proc"
    pid: host # qmassa needs it
    volumes:
      - "./shared/collector-signals:/app/.collector-signals"
    restart: on-failure:5
    depends_on:
      vippet:
        condition: service_healthy
    environment:
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      no_proxy: ${no_proxy}
  videogenerator:
    profiles: [do-not-start]
    image: docker.io/intel/vippet-videogenerator:${DOCKER_TAG}
    build:
      context: video_generator
      dockerfile: Dockerfile
      args:
        http_proxy:
        https_proxy:
        no_proxy:
    container_name: videogenerator
    volumes:
      - "./shared/videos/video-generator:/usr/src/app/output"
      - "./video_generator/config.json:/usr/src/app/config.json"
      - "./video_generator/background.gif:/usr/src/app/background.gif"
      - "./video_generator/images:/usr/src/app/images"
    environment:
      LOG_LEVEL: INFO
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      no_proxy: ${no_proxy}
