# DO NOT COMMIT/PUSH THIS FILE TO ANY REPO WITH UPDATED VALUES. IT CAN LEAD TO CREDENTIAL LEAKS.
# RESET ALL THE VALUES HERE TO DEFAULT, BEFORE COMMITING/PUSHING.
global:
  # usePvc should be set to true to use a new PVC for storage required by any of the subchart.
  usePvc: true

  # keepPvc should be set to true to retain the PVC after uninstalling the chart.
  keepPvc: false

  # Update huggingfaceToken if access to gated models is required. (This is needed in case OVMS is used for final summarization)
  huggingfaceToken: ""

  # vlmName is Vision-Language Model Name used by VLM Inference Microservice
  vlmName: ""
  # llmName is Large Language Model Name used by OVMS service
  llmName: ""

  # Update http_proxy and https_proxy with appropriate values if a proxy is required for external access.
  proxy:
    http_proxy: ""
    https_proxy: ""

  env:
    # Update following credentials with a values of your choice - as this is required by respective microservices.
    POSTGRES_USER: ""
    POSTGRES_PASSWORD: ""
    MINIO_ROOT_USER: ""
    MINIO_ROOT_PASSWORD: ""
    RABBITMQ_DEFAULT_USER: ""
    RABBITMQ_DEFAULT_PASS: ""


    # Update these values for telemetry if required. Leave empty if telemetry is not used.
    OTLP_ENDPOINT: ""
    OTLP_ENDPOINT_TRACE: ""

  # Update these values to deploy on GPU. Leave empty if want to keep default deployment on CPU.
  gpu:
    vlminferenceEnabled:
    multimodalembeddingmsEnabled:
    ovmsEnabled:

    # Set `key` and `device` if anyone of vlminferenceEnabled, multimodalembeddingmsEnabled or ovmsEnabled is set to true
    # Update as per the cluster node label key for GPU assigned by the device plugin
    key:
    # Set value to `GPU` to deploy on GPU
    device:


videoingestion:
  # odModelName defines the name of Object Detection Model
  odModelName: ""
  # odModelType defines the type of Object Detection Model. e.g., 'yolo_v8'
  odModelType: ""


multimodalembeddingms:
  # Update textEmbeddingModel for unified video search and summary setup. Keep imageEmbeddingModel empty. See docs for sample value.
  textEmbeddingModel: ""
  # Update imageEmbeddingModel for standalone video search application setup. Keep textEmbeddingModel empty. See docs for sample value.
  imageEmbeddingModel: ""
