{{- if .Values.configmap.enabled }}
{{- include "chatqna-core.validateGpuSettings" . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: model-config
data:
  config.yaml: |
    model_settings:
      MODEL_RUNTIME: "{{ .Values.global.MODEL_RUNTIME }}"
      EMBEDDING_MODEL_ID: "{{ .Values.global.EMBEDDING_MODEL }}"
      LLM_MODEL_ID: "{{ .Values.global.LLM_MODEL }}"
      MAX_TOKENS: {{ .Values.global.MAX_TOKENS }}
      {{- if .Values.global.PROMPT_TEMPLATE }}
      PROMPT_TEMPLATE: |
      {{ .Values.global.PROMPT_TEMPLATE | nindent 8 }}
      {{- end }}

      {{- if and (ne (.Values.global.MODEL_RUNTIME  | lower) "ollama") (.Values.global.RERANKER_MODEL) }}
      RERANKER_MODEL_ID: "{{ .Values.global.RERANKER_MODEL }}"
      {{- end }}

      {{- if eq (.Values.global.MODEL_RUNTIME | lower) "ollama" }}
      KEEP_ALIVE: {{ .Values.global.KEEP_ALIVE }}
      {{- end }}

    {{- if ne (.Values.global.MODEL_RUNTIME | lower) "ollama" }}
    device_settings:
      EMBEDDING_DEVICE: "{{ .Values.global.EMBEDDING_DEVICE }}"
      LLM_DEVICE: "{{ .Values.global.LLM_DEVICE }}"
      RERANKER_DEVICE: "{{ .Values.global.RERANKER_DEVICE }}"
    {{- end }}
{{- end}}
