replicaCount: 1

videosearch:
  image:
    repository: intel/video-search
    tag: "1.3.1"
    pullPolicy: IfNotPresent
  env:
    VDMS_VDB_HOST: "vdms-vectordb"
    VDMS_VDB_PORT: "55555"
    EMBEDDINGS_ENDPOINT: "http://multimodal-embedding-ms:8000/embeddings"
    EMBEDDINGS_MODEL_NAME: ""
    SEARCH_ENGINE: "FaissFlat"
    DISTANCE_STRATEGY: "IP"
    VS_WATCHER_DIR: "/tmp/watcher-dir"
    WATCH_DIRECTORY_CONTAINER_PATH: "/tmp/watcher-dir"
    WATCH_DIRECTORY_RECURSIVE: "false"
    VS_DEBOUNCE_TIME: "1"
    VS_DELETE_PROCESSED_FILES: "false"
    VS_INITIAL_DUMP: "false"  # Set to true if you want to dump existing videos on startup
    VIDEO_UPLOAD_ENDPOINT: "http://pipeline-manager:3000"
    AGGREGATION_ENABLED: "true"
    AGGREGATION_SEGMENT_DURATION: "8"
    AGGREGATION_MIN_GAP: "0"
    AGGREGATION_MAX_RESULTS: "20"
    AGGREGATION_INITIAL_K: "1000"
    AGGREGATION_CONTEXT_SEEK_OFFSET_SECONDS: "0.0"
    AGGREGATION_QUAL_MAX_WEIGHT: "0.65"
    AGGREGATION_QUAL_TOP_WEIGHT: "0.35"
    AGGREGATION_QUAL_TOP_RATIO: "0.35"
    AGGREGATION_QUAL_TOP_MIN_COUNT: "2"
    AGGREGATION_QUAL_TOP_MAX_COUNT: "6"
    AGGREGATION_CONTEXT_SIGMA_SECONDS: "40.0"
    AGGREGATION_CONTEXT_BOOST_STRENGTH: "0.5"
  
  containerPort: 8000  # Port on which container application listens internally
  containerPortName: vs-port  # Optional name to refer containerPort
  service:
    type: ClusterIP
    port: 8000  # Port on which service listens for incoming connection, if exposed externally
    portName: http  # Service port name. Useful when service exposes multiple ports.

global:
  # vdmsIndexName is the DB Index or DB Collection name used by VDMS Vector DB.
  vdmsIndexName: ""
  proxy:
    no_proxy:
    http_proxy:
    https_proxy:
  env:
    MINIO_ROOT_USER: 
    MINIO_ROOT_PASSWORD:
    MULTIMODAL_EMBEDDING_ENDPOINT: "http://multimodal-embedding-ms:8000/embeddings"
    EMBEDDING_MODEL_NAME: ""
  # Add other environment variables as needed

mmEmbeddingingMs:
  enabled: true
  name: multimodal-embedding-ms
  service:
    type: ClusterIP
    port: 8000

minioServer:
  name: minio-server
  service:
    type: ClusterIP
    port: 9000
    targetPort: 9000


livenessProbe:
  httpGet:
    path: /health
    port: vs-port
  initialDelaySeconds: 10
  periodSeconds: 20
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: vs-port
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 6

startupProbe:
  httpGet:
    path: /health
    port: vs-port
  initialDelaySeconds: 10
  periodSeconds: 10
  failureThreshold: 24