name: "[DLSPS] Coverity workflow for C/C++"
run-name: "[DLSPS] Coverity  scan (by @${{ github.actor }} via ${{ github.event_name }})"
on:
  workflow_call:
    secrets:
      DLSPS_COVERITY_TOKEN:
        required: true
      DLSPS_COVERITY_EMAIL:
        required: true
      DLSPS_COVERITY_PROJECT:
        required: true
  workflow_dispatch:
permissions: {}

jobs:
  coverity-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - ubuntu_version: ubuntu22

    steps:
    - name: Check out edge-ai-libraries repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #5.0.0
      with:
        persist-credentials: false
        path: edge-ai-libraries-repo

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build dls-pipeline-server-img
      run: |
        cd edge-ai-libraries-repo/microservices/dlstreamer-pipeline-server/docker
        export DLSTREAMER_PIPELINE_SERVER_IMAGE=intel/dlstreamer-pipeline-server:coverity-${{ matrix.ubuntu_version }}
        export DLSTREAMER_PIPELINE_SERVER_DOCKERFILE=Dockerfile
        export BASE_IMAGE="ghcr.io/open-edge-platform/edge-ai-libraries/intel/edge-ai-dlstreamer:20250805_EAL1.2-ubuntu22"
        export BUILD_TARGET=gstudfloader-builder
        docker compose build --no-cache --pull

    - name: Run Coverity Scans
      run: |
        cd edge-ai-libraries-repo/microservices/dlstreamer-pipeline-server/tests
        echo DLSPS_COVERITY_TOKEN=${{secrets.DLSPS_COVERITY_TOKEN}} >> .env
        echo DLSPS_COVERITY_EMAIL=${{secrets.DLSPS_COVERITY_EMAIL}} >> .env
        echo DLSPS_COVERITY_PROJECT=${{secrets.DLSPS_COVERITY_PROJECT}} >> .env
        docker run --rm --env-file .env  -v  `pwd`:/app -v /tmp:/tmp intel/dlstreamer-pipeline-server:coverity-ubuntu22  /bin/bash /app/coverity.sh

    - name: Clean up
      if: always()
      run: |
        rm -rf edge-ai-libraries-repo
        sudo rm -rf /tmp/coverity-output.tgz
        docker rmi intel/dlstreamer-pipeline-server:coverity-${{ matrix.ubuntu_version }} || true
