@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    "Montserrat", "Open Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading:
    "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Intel colors */
  --color-classic-blue: var(--classic-blue);
  --color-classic-blue-tint-2: var(--classic-blue-tint-2);
  --color-classic-blue-tint-1: var(--classic-blue-tint-1);
  --color-classic-blue-shade-1: var(--classic-blue-shade-1);
  --color-classic-blue-shade-2: var(--classic-blue-shade-2);
  --color-energy-blue: var(--energy-blue);
  --color-energy-blue-tint-2: var(--energy-blue-tint-2);
  --color-energy-blue-tint-1: var(--energy-blue-tint-1);
  --color-energy-blue-shade-1: var(--energy-blue-shade-1);
  --color-energy-blue-shade-2: var(--energy-blue-shade-2);
  --color-carbon: var(--carbon);
  --color-carbon-tint-2: var(--carbon-tint-2);
  --color-carbon-tint-1: var(--carbon-tint-1);
  --color-carbon-shade-1: var(--carbon-shade-1);
  --color-carbon-shade-2: var(--carbon-shade-2);

  --color-classic-blue-hover: var(--classic-blue-hover);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--classic-blue);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: var(--carbon-tint-1);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Intel colors */
  --classic-blue: oklch(0.377 0.152 258.338); /* #0054AE */
  --classic-blue-tint-2: oklch(0.792 0.094 245.571); /* #6CC4F5 */
  --classic-blue-tint-1: oklch(0.625 0.158 247.996); /* #0099EC */
  --classic-blue-shade-1: oklch(0.266 0.118 261.226); /* #00377C */
  --classic-blue-shade-2: oklch(0.157 0.084 264.366); /* #001E50 */
  --energy-blue: oklch(0.807 0.126 232.661); /* #00C7FD */
  --energy-blue-tint-2: oklch(0.916 0.063 234.365); /* #A0EBFF */
  --energy-blue-tint-1: oklch(0.867 0.096 233.398); /* #6DDCFF */
  --energy-blue-shade-1: oklch(0.622 0.102 233.812); /* #0095CA */
  --energy-blue-shade-2: oklch(0.413 0.073 235.449); /* #005B85 */
  --carbon: oklch(0.577 0 0); /* #808080 */
  --carbon-tint-2: oklch(0.927 0 0); /* #E9E9E9 */
  --carbon-tint-1: oklch(0.725 0 0); /* #AEAEAE */
  --carbon-shade-1: oklch(0.381 0 0); /* #525252 */
  --carbon-shade-2: oklch(0.204 0 0); /* #262626 */

  --classic-blue-hover: oklch(0.333 0.137 258.653); /* #004A9D */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--carbon-tint-1);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--carbon);
  }
}
